# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Node
node_modules/

# Next.js build
.next/

# Generated IPFS folders
nestable_charcter_nft/
passenger/
planet/

# Raw art assets
BeracPOL*/
python_scripts/BeracPOL*/

# OS
.DS_Store
Thumbs.db
